* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #ffffff;
    height: 25vh; /* Increase the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.header--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

header > hr {  
    margin: 0;
    width: 100%;
    height: 4px;
    background-color: #d3563081;
    border: none;
    flex-shrink: 0;
}

.header--title {
    order: 2; 
    margin: 0;
    color: rgb(215, 77, 77);
    font-size: 60px;
    letter-spacing: -0.05em;
}

main {
    flex: 1;
    background-color: #fef8f8;
    color: #35393B;
}

.description > * {
    color: #35393B;
    margin-left: 41px;
}

.description--name {
    font-weight: 900;
    letter-spacing: 0.008em;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 0;
    
}

.description--job {
    margin-left: 42px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 12px;
}

.qualifications--list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.qualifications--list > li {
    background-color: #E6E8EA;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: 14px;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #35393B;
}

.links--list > li {
    border: 1px solid red;
    line-height: 4rem;
    font-size: 16px;
    font-weight: 700;
}

.links--list {
}

