* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #fbf3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.app {
    max-width: 440px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 60vh;
    box-shadow: rgba(15,15,15,.05) 0px 0px 0px 1px, 
                rgba(15,15,15,.1) 0px 3px 6px, 
                rgba(15,15,15,.2) 0px 9px 24px;
    margin: 15px auto
}

header {
    background-color: #ffffff;
    height: 25vh; /* Increase the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.header--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

header > hr {  
    margin: 0;
    width: 100%;
    height: 4px;
    background-color: #d3563081;
    border: none;
    flex-shrink: 0;
}

.header--title {
    order: 2; 
    margin: 0;
    color: rgb(215, 77, 77);
    font-size: 60px;
    letter-spacing: -0.05em;
}

main {
    flex: 1;
    background-color: #ffffff;
    color: #35393B;
}

.description > * {
    color: #35393B;
    margin-left: 41px;
}

.description--name {
    font-weight: 900;
    letter-spacing: 0.008em;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 0;
    
}

.description--job {
    margin-left: 42px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 12px;
}

.qualifications--list {
    display: flex;
    list-style: none;
    gap: 17px;
}

.qualifications--list > li {
    background-color: #E6E8EA;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: 12px;
    font-weight: 200;
}
article {
    margin-top: 3rem;
}

a {
    text-decoration: none;
    color: #35393B;
}

.links--list {
    list-style: none;
}

.links--list > li > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.links--details-icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(215, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}

.links--mail-icon {
    width: 25px;
}

.links--github-icon {
    width: 45px;
}

.links--linkedin-icon {
    width: 50px;
}

.links--maps-icon {
    width: 26px;
}

.links--list > li {
    line-height: 4rem;
    font-size: 16px;
    font-weight: 700;
}


